{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'title' %}
FREELAWAY PSW
{% endblock %}

{% block 'body' %}
    <div class="box">
        <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}

            {{form}}

            <input type="submit" value="Recuperar">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}

        
        </form>

    </div>

{% endblock %}